# **TASK-5 CREDIT CARD FRAUD DETECTION**

#Importing required libraries
First step to build any model is to import neccessary libaries. Below are the libaries that we would use in above task:
* Numpy
*Pandas
* sklearn

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Loading data and preprocessing
After importing the required libraries we load the dataset using **read_csv()** and view the first 5 element of dataset using **head()**.
Along with this we will find out null values and remove them if any.

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Dataset/creditcard.csv')

In [ ]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
#checking null values
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

As it's a classification problem,so we would investigate the data about diffrent classes present in data and divide the data into diffrent sets for each class.

In [ ]:
#diffrent classes
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
#segregting data foreach class
legal_class=data[data.Class==0]
fraud_class=data[data.Class==1]

In [ ]:
print(legal_class.shape)

(284315, 31)

In [ ]:
print(fraud_class.shape)

(492, 31)

In [ ]:
legal_class['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud_class['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# grouping data by class andgetting mean value
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
#concating the data
legal_sample=legal_class.sample(n=492)
df=pd.concat([legal_sample,fraud_class],axis=0)

In [ ]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
100785,67622.0,-1.157629,-0.265964,-0.690266,-2.452611,2.330012,2.841980,-0.843478,1.340972,-1.465753,...,0.060597,-0.400519,-0.150565,0.919814,0.225424,-0.454616,-0.017963,-0.039256,21.23,0
248772,154088.0,-1.151891,1.065933,-0.738016,-0.420535,0.254825,-0.966131,-0.018459,0.750527,-0.447754,...,0.467420,1.205167,-0.310533,-0.297250,-0.430149,-0.151825,0.138934,0.031711,1.00,0
275453,166539.0,-0.231390,1.089148,-0.812853,-0.676097,0.728772,-0.234758,0.481282,0.459913,-0.316518,...,0.423317,1.267073,-0.101835,0.238964,-0.757169,-0.235381,0.374875,0.250293,0.89,0
221870,142731.0,-0.130150,0.470468,-1.310311,-1.360620,3.384781,3.540088,0.604026,0.894532,0.008042,...,0.344450,1.083581,-0.134433,0.711663,-0.517316,-0.763693,0.279353,0.253844,10.00,0
218637,141397.0,2.033832,-0.361866,-1.324293,-0.033820,0.237224,0.101318,-0.281294,0.069950,0.617157,...,-0.021130,-0.013619,0.157595,0.056564,-0.167611,0.548216,-0.079961,-0.070593,15.00,0

In [ ]:
df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,101062.644309,0.125889,0.050480,-0.069378,-0.132570,0.052947,0.105487,-0.033021,0.033217,0.005363,...,0.021543,0.019324,0.028195,-0.006291,0.044592,-0.014845,-0.036412,-0.013227,-0.006475,77.704654
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Feature and Target split and Training and Testing split
Before proceeding toward building the model we would seprate our feature variables/attribute and target variable from data. Then, this splited data would be further used for training an testing data split.

In [ ]:
#seprating target and feature sets
x=df.drop(columns='Class',axis=1)
y=df['Class']

In [ ]:
#spliting traing and testing datasets
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,stratify=Y,random_state=2)
print(x_train.shape)
print(x_test.shape)
print(x.shape)
print(y_train.shape)
print(y_test.shape)
print(y.shape)

(836, 30)
(148, 30)
(984, 30)
(836,)
(148,)
(984,)

#Building Model
For building the model weload the model and fit our data into it. We then predict the values based on which model would be evaluated.

In [ ]:
model=LogisticRegression(solver='lbfgs', max_iter=150)
# fitting the model
model.fit(x_train,y_train)
#predicting the values
x_train_prediction=model.predict(x_train)

# Model Evaluation
To evaluate the model, accuracy ofmodel is calculated, which tells how accurate the model is trained and how accurate the model predict the result.

In [ ]:
# calculating training accuracy
training_data_accuracy=accuracy_score(x_train_prediction,y_train)
print('Training accuracy:',training_data_accuracy)

Training accuracy: 0.9485645933014354

In [ ]:
# calculating testing accuracy
x_test_prediction=model.predict(x_test)
testing_data_accuracy=accuracy_score(x_test_prediction,y_test)
print('Testing accuracy:',testing_data_accuracy)

Testing accuracy: 0.9391891891891891